.carousel-container {
    background-color: white;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.carousel-style {
    position: relative; 
    overflow: hidden; 
}

.carousel-overlay {
    padding: 3px;
    color: white;
    text-align: center;
    position: absolute; 
    top: 250px;
    left: 50%;
    width: 400px; 
    height: 170px; 
    background-color: rgba(21, 46, 100, 0.8); 
    z-index: 1; 
    justify-content: center; 
    align-items: center; 
}

.text-title{
    margin-top: 8px;
}

.text-body{
    margin-left: 5px;
    margin-right: 5px;
    font-size:14px;
}

.carousel-image {
    max-width: 100%; 
    max-height: 500px; 
    object-fit: contain;
    display: block; 
    margin: auto; 
}

.ant-carousel .slick-dots li button {
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: #C29108; 
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #fff; 
}
