.nav_con {
    position: relative;
    background: #152E64;
    height: calc(100vh* 12.6%);
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 15px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container img {
    height:30px;
  }